.btn {
    margin: 10px;
}


@media only screen and (max-width: 575px){
    .row {
    width: 100%;
    margin: 0px;
    border: none;
}
.col-sm {
    border: none;
    border-bottom: solid gray;
}
.highlight {
    width: 300px;
}
.list-group {
    width: 200%;
    
}

#row-container {
    overflow-x: auto;
}
.card {
    width: 350px;
}
    }